.container {
  margin: 20px auto;
  width: 600px;
  padding: 0px 20px 20px 20px;
  border: 1px dotted black;
}

th {
  text-align: left;
}

body {
    background-color: white;
}

.div-h1 {
  color: #00CCFF;
}

.div-h1 {
  position: absolute;
  top: 3%;
  left: 3%;
}

.div-h1 {
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  font-size: 20px
}

.div-h2 {
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  font-size: 30px;
}

.div-h2 {
  color: #00CCFF;
}

.div-h2 {
  position: absolute;
  top: 7%;
  right: 10%;
}

.content {
  background-color: #00CCFF;
}

/*-------------------------.content position-------------------------*/
.content {
  position: absolute;
  top: 150px;
  left: 5%;
}

.content {
  width: 90%;
  height: 80%;
  border-radius: 25px;
}

.content i {
  position: absolute;
  top: 10px;
  right: 10%;
}

.content p {
  position: relative;
  left: 10px;
  top: 10px;
}

.content p {
  color: white;
}

.content p {
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  font-size: 20px;
}

/*-------------------------search -----------------------------*/
#search {
  position: relative;
  top: 15px;
  left: 15px;
}

#search {
  color: white;
}

/*-------------------------profile-button-----------------------------*/
 /*profile*/
#div-profile-button {
  border: 2px solid white;
  border-radius: 25px;
}

#div-profile-button {
  position: relative;
  top: 40px;
  left: 10px;
}

#div-profile-button {
  width: 150px;
  height: 30px;
}

#div-profile-button {
  background-color: rgba(255, 255, 255, 0.8);
}

#div-profile-button a {
  position: relative;
  left: 20px;
  top: 20%;
}

#div-profile-button a {
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  text-decoration: none;
}

/*my profile*/
#div-my-profile {
  border: 2px solid white;
  border-radius: 25px;
}

#div-my-profile {
  position: relative;
  top: 60px;
  left: 10px;
}

#div-my-profile {
  width: 150px;
  height: 30px;
}

#div-my-profile {
  background-color: rgba(255, 255, 255, 0.8);
}


#div-my-profile a {
  position: relative;
  left: 20px;
  top: 20%;
}

#div-my-profile a {
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  text-decoration: none;
}

/*logout*/
#div-logout {
  border: 2px solid white;
  border-radius: 25px;
}

#div-logout {
 position: relative;
  top: 80px;
  left: 10px;
}

#div-logout {
  width: 150px;
  height: 30px;
}

#div-logout {
  background-color: rgba(255, 255, 255, 0.8);
}

#div-logout a {
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  text-decoration: none;
}

#div-logout a {
  position: relative;
  left: 45px;
  top: 20%;
}

/*-------------------------gravatar---------------------------------*/

img {
  width: 60px;
  height: 60px;
  border-radius: 150px;
  -webkit-border-radius: 150px;
  -moz-border-radius: 150px;
  /*background: url(http://link-to-your/image.jpg) no-repeat;*/
  }

/*-------------------------tweet-button-----------------------------*/

.content form {
  position: absolute;
  right: 50px;
  margin-top: 10px;
}

.follow a {
  color: white;
  text-decoration: none;
}



