<div class="tweets">

  Your retweets:

  <ul>
    <% Retweet.where(user_id: "#{current_user.id}").each do |retweet| %>
      <li><%= Tweet.find(retweet.tweet_id).post %> <%= erb :_retweet_button, locals: {cur_tweet_id: retweet.tweet_id}%></li>
    <% end %>
  </ul>

</div>
