<div class="tweets">

  Your retweets:

  <ul>
    <% Retweet.where(user_id: "#{current_user.id}").each do |retweet| %>
      <li><%= Tweet.find(retweet.tweet_id).post %></li>
    <% end %>
  </ul>

</div>
