<div class="tweets">

  Your <%= current_user.tweets.count %> Jabs: </br>

  <ul>
  <% current_user.tweets.each do |tweet| %>
    <li><%= tweet.post %> <%= erb :_retweet_button, locals: {cur_tweet_id: tweet.id}%></li>
  <% end %>
  </ul>

</div>
