<div class="container">
  <h1>Welcome to JABS!</h1>

  <% if session[:current_username] %>
    <i>Hello, <%= session[:current_username] %></i>
  </br> </br>
  <% end %>

  <form id="login" action="/login" method="POST">
    Username: <input type="text" name="username"></br>
    Password: <input type="password" name="password"></br>
    <input type="submit" value="Login">
  </form>

</div>
