<div class="div-h1">
  <h1>All Users</h1>
</div>

<div class="content">
  <ul>
    <% @users.each do |usr| %>
      <li><a href="/user/<%=usr.id%>"> <%= usr.username %> </a></li>
    <% end %>
  </ul>
</div>

<div class="div-home">
  <a href="/">Home</a>
</div>
